<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>系统后台</title>
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
		<meta name="robots" content="noindex,nofollow">
		<!-- <link href="__CSS__/admin_login.css" rel="stylesheet" /> -->
		<style>
			#login_btn_wraper{
				text-align: center;
			}
			#login_btn_wraper .tips_success{
				color:#fff;
			}
			#login_btn_wraper .tips_error{
				color:#DFC05D;
			}
		</style>
		<script>
			if (window.parent !== window.self) {
					document.write = '';
					window.parent.location.href = window.self.location.href;
					setTimeout(function () {
							document.body.innerHTML = '';
					}, 0);
			}
		</script>
		
	</head>
<body>
	<div class="wrap">
		<a href="__ROOT__"><img src="__IMG__/logo-ThinkCMF.png"></img></a>
		<form method="post" name="login" action="{:U('public/login')}" autoComplete="off" id="ft_ajaxForm">
			<div class="login">
				<ul>
					<li>
						<input class="input" id="J_admin_name" required name="username" type="text" placeholder="帐号名" title="帐号名" />
					</li>
					<li>
						<input class="input" id="admin_pwd" type="password" required name="password" placeholder="密码" title="密码" />
					</li>
					<li>
						<div id="J_verify_code">
							<img class="yanzheng_img" id="code_img" alt="" src="{:U('verify')}"
							onclick="document.getElementById('code_img').src='{:U('verify')}&time='+Math.random();"
							style="cursor: pointer;" title="点击获取"/>
						</div>
					</li>
					<li>
						<input class="input" type="text" name="verify" required placeholder="请输入验证码" />
					</li>
				</ul>
				<div id="login_btn_wraper">
					<!-- <button type="submit" name="submit" class="btn btn_submit " id="ft_ajaxButton">登录</button> -->
					<button type="submit" class="btn btn_submit " id="ft_ajaxButton">登录</button> 
				</div>
				<span id='ft-ajaxOutMsg'></span>
			</div>
		</form>
	</div>


<!-- <script type="text/javascript" src="__STATIC__/js/wind.js"></script>
<script type="text/javascript" src="__STATIC__/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="__STATIC__/jquery/jquery.form-3.46.0.js"></script>
<script type="text/javascript" src="__JS__/ft-check.js"></script>
<script type="text/javascript" src="__JS__/ft-ajax.js"></script> -->
<script>
$(function(){
	document.getElementById('J_admin_name').focus();
	
})();
</script>
</body>
</html>
