<include file="Public/header"/>
</head>
<body class="J_scroll_fixed">
<div class="wrap jj">
  <admintpl file="nav"/>
  <div class="common-form">
    <form method="post" class="J_ajaxForm" action="{:U('User/edit')}">
      <div class="h_a">基本属性</div>
      <div class="table_list">
        <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
          <tbody>
            <tr>
              <td>用户代码:</td>
              <td><input type="text" class="input" name="fusercode" value="{$fusercode}"></td>
            </tr>
            <tr>
              <td>用户名称:</td>
              <td><input type="text" class="input" name="fusername" value="{$fusername}"></td>
            </tr>            
            <tr>
              <td>邮箱:</td>
              <td><input type="text" class="input" name="femail" value="{$femail}"></td>
            </tr>
            <tr>
              <td>手机号:</td>
              <td><input type="text" class="input" name="fmobile" value="{$fmobile}"></td>
            </tr>
            <tr>
              <td>备注:</td>
              <td><input type="text" class="input" name="fremark" value="{$fremark}"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="btn_wrap">
        <div class="btn_wrap_pd">
        	<input type="hidden" name="ID" value="{$ID}"/>
          	<button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">更新</button>
          	<a class="btn" href="__URL__">返回</a>
        </div>
      </div>
    </form>
  </div>
</div>

<include file="Public/footer"/>